@page "/Insert"
<h3>InserUrlData</h3>

@using WebUrlListBlazorAP.Data
@inject WebUrlDataService service

<EditForm Model="@urlModel" OnSubmit="@Insert">
    <span>名稱</span><InputText @bind-Value="urlModel.Name" /> <br />
    <span>網址</span><InputText @bind-Value="urlModel.Url"></InputText> <br />
    <button type="submit">新增</button>
</EditForm>

@code {

    private WebUrlData urlModel = new();

    private void Insert()
    {
        service.Insert(urlModel.Name, urlModel.Url);
        urlModel.Name = string.Empty;
        urlModel.Url = string.Empty;
    }
}
